
# Logs
logs/
*.log
# data
data/
# OS
.DS_Store
Thumbs.db

# Env files
.env

# Build output
dist/

out/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Coverage
coverage/

# Misc
*.local
*.cache

!*.dvc
!.gitignore