# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Env files
.env
.venv/

# Build output
dist/
out/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Coverage
coverage/

# Misc
*.local
*.cache

# DVC: ignore ข้อมูลจริง แต่ไม่ ignore pointer .dvc
data/**

*.pyc

grafana-data/
*.grafana-data
prometheus-data/
*.prometheus-data
.prometheus.yml/
*.prometheus.yml


