mlflow>=3.1
minio
boto3
pandas
numpy
pyyaml
requests
pyspark
psycopg2-binary
tldextract==5.1.2
great_expectations
dbt
dbt-postgres
sentence-transformers
torch
transformers
scikit-learn
xgboost
tf-keras
faiss-cpu
#Vizualization
umap-learn
# apache-airflow[statsd]
statsd
