# พื้นฐาน
numpy
pandas
scipy

# แสดงผล / EDA
matplotlib
seaborn
notebook
jupyter

# Machine Learning / NLP
scikit-learn
joblib
xgboost
lightgbm
imbalanced-learn

# Feature extraction / Embeddings
sentence-transformers
transformers
torch
torchvision
torchaudio

# Text preprocessing
nltk
spacy
regex

# Feature selection
mlxtend

# Pipeline / Orchestration / MLOps
mlflow
minio
apache-airflow

# Utilities
tqdm
pyyaml

requests
boto3>=1.28
google-cloud-storage>=2.18

#dvc
pyarrow 
s3fs
