# พื้นฐาน
numpy
pandas
scipy

# แสดงผล / EDA
matplotlib
seaborn
notebook
jupyter

# Machine Learning / NLP
scikit-learn
joblib
xgboost
lightgbm
imbalanced-learn

# Feature extraction / Embeddings
sentence-transformers
transformers
torch
torchvision
torchaudio

# Text preprocessing
nltk
spacy
regex

# Feature selection
mlxtend

# Pipeline / Orchestration / MLOps
mlflow>=3.1
minio
apache-airflow
# apache-airflow[statsd]

# Utilities
tqdm
pyyaml

requests
boto3>=1.28
google-cloud-storage>=2.18

#dvc
pyarrow 
s3fs

tldextract==5.1.2
mmh3
great_expectations
pytest 
pytest-mock
tf-keras
faiss-cpu
umap-learn
pyspark == 4.0.1
psycopg2-binary
dbt-core==1.10.15
dbt-postgres==1.9.1
