server:
  http_listen_port: 3200
  grpc_listen_port: 9096

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

ingester:
  trace_idle_period: 30s
  max_block_duration: 5m

compactor:
  compaction:
    block_retention: 24h

querier: {}

query_frontend: {}

storage:
  trace:
    backend: local
    local:
      path: /tmp/tempo/traces
