receivers:
  otlp:
    protocols:
      grpc:
      http:

exporters:
  prometheus:
    endpoint: "0.0.0.0:8889"

  otlp:
    endpoint: tempo:4317
    tls:
      insecure: true

  otlphttp:
    endpoint: http://loki:3100/loki/api/v1/push
    tls:
      insecure: true

  debug:
    verbosity: detailed

service:
  pipelines:
    metrics:
      receivers: [otlp]
      exporters: [prometheus]

    traces:
      receivers: [otlp]
      exporters: [otlp, debug]

    logs:
      receivers: [otlp]
      exporters: [otlphttp, debug]
